@tailwind base;
@tailwind components;
@tailwind utilities;

.inputCss {
  @apply w-[350px] h-[50px] bg-white/80 text-gray-800 placeholder-gray-500 text-lg font-medium rounded-lg border-2 border-gray-300 focus:outline-none focus:ring-4 focus:ring-white/70 focus:border-gray-400;
}

.inputCss:hover {
  @apply bg-white text-black border-gray-400;
}


.buttonCss{
   @apply bg-teal-500 text-white font-bold rounded
}
.buttonCss:hover{
    @apply bg-gray-900
}

.center{
    @apply flex items-center justify-center
}